/* css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
body {
    min-height: 100%;
}
html, body {
    min-height: 100%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    width: 100%;
    margin:0px;
    padding:0px;

}
html {
    margin: 0;
    padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
section img {
    width: 25%;
    height: 25%;
}
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    background-color: #808080;
    color: white;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}
header h5{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap;
}
header ul{
    justify-content: space-between;
    align-items: center;
    display: flex;
    column-gap: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    white-space: nowrap;
    
}

 a {
    text-decoration: none;
    color: white;
}

h1 {
    color: #808080;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

h1 span {
    color: #FFFF00;
}
h2 {
    color: #808080;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
}
nav {
    display: flex;
    flex-direction: row;
}

main {
    width: 100%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

main section h1 {
    transform: translateY(50px);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    color: #808080;
    white-space: nowrap;
}

main section h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: Roboto;
    letter-spacing:2px;
}

article {
    justify-content: center;
    align-items: center;
    background-color: #d9d7d7;
    margin: 0 auto;
    width: 100%;
    white-space:wrap;
    padding: 20px;
}
figure img {
    width: 50%;
    height: 40%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
}

article h1 {
    color: #000000;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size:20px;
    letter-spacing:1px;
}
article p{
    white-space:wrap;
    padding-right: 20px;
    padding-left: 20px;
}

.article2{
    padding: 20px;
    background-color: white;
    margin: 0 auto;

}
.gambar{
    display: flex;
    align-items: center;
    width:auto;
    margin: 0 auto;
    column-gap: 10px;
}
h1 {
    font-family: sans-serif;
    font-size: 20px;
    color: #7f8485;
}
.gambar figcaption {
    text-align: center;
    font-size: 2px;
    font-family: sans-serif;
    color: #7f8485;
    letter-spacing: 1px;   
    white-space: nowrap;
}
.saya {
    display: inline-block;
    background-color: #d9d7d7;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #808080;
    color: white;
    padding: 20px ;
    display: flex;
    width: 100%;
}

footer h5 {
    position: relative;
    padding-bottom: 50px;
    color: white;
    letter-spacing: 5px;
    white-space: nowrap;
    font-size: 20px;
}

footer ul {
    flex-direction: column;
    display: flex;
}

button {
    background-color: #e3cb2d;
    color: #0c0f07;
    border: none;
    font-weight: normal;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    width: 30%;
    font-family: sans-serif;
    white-space: wrap;
}

.saya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.gambar img {
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.gambar figcaption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-left: 20px font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
}

input[type="text"] {
    width: 400px;
    justify-content: center;
    align-items: center;
}

textarea {
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-left: 20px font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #7f8485;
}

/*responsive */
@media (max-width: 1250px) {
   header {
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 20px;
       font-size: 1px;
       font-family: sans-serif;
   }
  }
  @media (min-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        column-gap: 1px;
        font-size: 1px;
    }
    @media (min-width: 1250px) {
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1px;
            font-size: 1px;
        }
    }
}
@media screen and (max-width: 600px) {
    header {
        display: flex;
        align-items: center;
        column-gap: 1px;
        padding: 20px;
        margin: 0 auto;
        font-size: 1px;
        width: 100%;
    }
  }
  @media screen and (max-width: 600px) {
    header h5 {
        display: flex;
        font-size: 10px;
        font-family: sans-serif;
        column-gap: 1px;
    }
  }
  @media screen and (max-width: 600px) {
    header ul {
        display: flex;
        font-size: 10px;
        font-family: sans-serif;
    
    }
  }
    @media screen and (max-width: 600px) {
        header li {
            display: flex;
            font-size: 10px;
            font-family: sans-serif;
            column-gap: 1px;
        }
    }
@media (max-width: 428px) {
    footer {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: right;
        column-gap: 40px;
    }
}

@media (min-width: 768px) {
    footer  {
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        align-items: right;
        column-gap: 500px;
    }
}
@media (min-width: 1080px) {
    footer  {
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        align-items: right;
        column-gap: 1100px;
    }
}

@media (max-width: 1080px) {
    .gambar{
        display:flex;
        justify-content: center;
        justify-content: space-between;
        align-items: center;
        column-gap:20px;
        font-size: 2px;
    }
}
@media (min-width: 992px) {
    input[type="checkbox"] {
        width: 10px;
        height: 20px;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 602px) {
   textarea {
       width: 500px;
       justify-content: center;
       align-items: center;
   }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
 
  /* # Mobile */
@media only screen and (min-width: 480px){
    input[type="text"] {
        width: 500px;
        justify-content: center;
        align-items: center;
    }
}
/* 
# Tablet */
@media only screen and (min-width: 768px) {
    input[type="text"] {
        width: 500px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 992px){
    input[type="text"] {
        width: 500px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1200px){
    input[type="text"] {
        width: 500px;
        justify-content: center;
        align-items: center;
    }
}
/* mobile */
@media only screen and (max-width: 600px) {
   textarea {
       width: 200px;
       justify-content: center;
       align-items: center;
   }
}
@media only screen and (max-width: 600px) {
    input[type="text"] {
        width: 200px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:320px){
    footer {
            margin: 0 auto;
            padding: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: right;
            column-gap: 45px;
    }
}
@media only screen and (max-width:375px){
    footer {
            margin: 0 auto;
            padding: 0 auto;
            display: flex;
            justify-content: space-between;
            column-gap: 45px;
    }
}
